div.b {
  top: 722px;
  border: 3px solid blue;
  text-align: center;
} 

div.c {
  /*position: absolute;*/
  top: 200px;
  border: 3px solid green;
  text-align: center;
}

div.d {
  font-size: 150%;
}

div.e{
	top: 200px;
  	border: 3px solid green;
  	text-align: center;
}

p.serifs {
	font-family: "Times New Roman", Times, serif;
}

p.oblique{
	font-style: oblique;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 1.875em; /* 30px/16=1.875em */
}

h3 {
  font-size: 100%;
}

p.thicker {
  font-weight: 1000;
}

p.small {
  font-variant: small-caps;
}

h5.vi{
	visibility: visible;
}

h5.invi{
	visibility: hidden;
}

body:after {
  content: "RC"; 
  font-size: 15em;  
  color: rgba(52, 166, 214, 0.4);
  z-index: 9999;
 
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
    
  -webkit-pointer-events: none;
  -moz-pointer-events: none;
  -ms-pointer-events: none;
  -o-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}